#EXTM3U
#EXTINF:-1 tvg-logo="http://www.expatescort.com/public/img/flags/do.png" group-title="LABEL",[B][COLOR blue]~ Dominican Republic TV ~[/COLOR][/B]
http://www.lengua.com/anthems/DominicanRepublic.mp3

#EXTINF:-1 tvg-id="" tvg-name="" tvg-logo="http://canal4rd.com/portada/images/logos/logo-final5.jpg" group-title="DOMINICAN REP",Canal 4
http://216.24.196.40:1935/live/canal4/playlist.m3u8

#EXTINF:-1 tvg-id="" tvg-name="" tvg-logo="http://www.canal25rd.com/images/canal25_logo_2017_small.png" group-title="DOMINICAN REP",Canal 25
http://qs1.distream.net:2126/c25_str/canal25/playlist.m3u8

#EXTINF:-1 tvg-id="" tvg-name="" tvg-logo="https://nettalkconnect.com/resources/nt/images/tv/tv_channels/canal-america.jpg" group-title="DOMINICAN REP",Canal America
http://newyorkstream.ddns.net:1935/live/myStream/playlist.m3u8

#EXTINF:-1 tvg-id="" tvg-name="" tvg-logo="http://www.colorvision.com.do/wp-content/uploads/2014/12/logo.png" group-title="DOMINICAN REP",Color Vision
http://ss8.domint.net:2048/cvis_str/video/playlist.m3u8

#EXTINF:-1 tvg-id="" tvg-name="" tvg-logo="" group-title="DOMINICAN REP",Noticias 16
http://mek2.mekstream.com:1935/noticias16/live2/playlist.m3u8

#EXTINF:-1 tvg-id="" tvg-name="" tvg-logo="http://senalestv.com/wp-content/uploads/2016/03/LOGO-SE%C3%B1ALES-01.png" group-title="DOMINICAN REP",Senales TV
http://rctvhdstream.ddns.net:5050/rctv/senalestv.stream/playlist.m3u8

#EXTINF:-1 tvg-id="" tvg-name="" tvg-logo="http://cristoreypuntocom.blogia.com/upload/20100228171452-logo-supercanal.jpg" group-title="DOMINICAN REP",Super Canal
http://newyorkstream.ddns.net:1935/supercanalcaribe/supercanalcaribe/playlist.m3u8

#EXTINF:-1 tvg-id="" tvg-name="" tvg-logo="http://www.teleradioamerica.com/wp-content/uploads/2015/02/download.jpg" group-title="DOMINICAN REP",Tele Radio America
http://qs1.distream.net:2116/t45_str/canal45/playlist.m3u8

#EXTINF:-1 tvg-id="" tvg-name="" tvg-logo="http://emisoradominicana.net/television/wp-content/uploads/2015/06/telefuturo-23.jpg" group-title="DOMINICAN REP",Telefuturo
http://qs1.distream.net:2112/tf_str/futu/chunklist_w1961345922.m3u8

#EXTINF:-1 tvg-id="" tvg-name="" tvg-logo="https://s-media-cache-ak0.pinimg.com/600x315/6c/f7/aa/6cf7aa90d1d7186a7b9a5467267a9630.jpg" group-title="DOMINICAN REP",Teleuniverso
http://ss9.domint.net:1942/tu_str/universo/playlist.m3u8

#EXTINF:-1 tvg-id="" tvg-name="" tvg-logo="http://xtremotv.com/images/xtremo_logo2_.png" group-title="DOMINICAN REP",Xtremo Channel
http://ss6.domint.net:1948/zol_str/vzol/playlist.m3u8
